@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 64px; /* Diameter lingkaran */
  height: 64px; /* Diameter lingkaran */
  border: 8px solid #f3f3f3; /* Warna latar belakang */
  border-top: 8px solid #2f855a; /* Warna bagian atas */
  border-radius: 50%; /* Bentuk lingkaran */
  animation: spin 1s linear infinite; /* Animasi berputar */
}

.zoom-in-animation {
  transform: scale(1.2); /* Membuat gambar sedikit lebih besar */
  transition: transform 3.5s ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: scale(1); /* Ukuran normal pada awal animasi */
  }
  100% {
    transform: scale(1.2); /* Zoom in hingga 120% */
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shadow-top {
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1); /* Hanya bayangan di atas */
}
.modal {
  max-height: 80vh;
  overflow-y: auto;
}
.overflow-hidden {
  overflow: hidden;
}

.fade-in {
  animation: fadeIn 0.7s forwards; /* Adjust duration as needed */
}

.fade-out {
  animation: fadeOut 0.7s forwards; /* Adjust duration as needed */
}

.map-container {
  z-index: 0; /* Ensure it's behind other elements */
  position: relative; /* Or static if relative is unnecessary */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
